.MuiContainer-fixed {
  max-width: 100%;
}

.form-wrapper h2 {
  margin-bottom: 0;;
}

.MuiButton-text.dark-theme .MuiButton-label {
  color: #fff;
}

.MuiFormLabel-root#address-state {
  position: relative
}

li.review-item {
  list-style: none;
}

li.support-category {
  list-style: disc;
}